@import 'variables';
body{
    color: $color;
    // background-color: $bgcolor;
}

/*overwrite bootstrap forms*/
.form-check-input {
    // position: absolute;
    margin-top: 0.44rem;
    // margin-left: -1.25rem;
}
.alert-error{
    background-color: $alertbgcolor;
    color:$darkcolor;
    font-size: 12px;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
    padding: 0.4em;
}
.amttbl tbody tr {
    cursor: pointer;
}
.amttbl tbody tr:hover {
    background-color: $bgcolor;
}