$color: #000;
$bgcolor: #FF0;
$bgcolortrans: #ffff0054;

$darkbgcolor: #5d5d1b;
$darkcolor: #fff;
$frmbgcolor: #ffffff24;
$alertbgcolor: #f00;
$bordercolor: #efefef;
$boxshadowcolor: #645e5e;
$loading: #dcd7d799;