<div class="amt-navbar">
  <div class="container-fluid">
    <nav class="navbar navbar-fixed-top navbar-expand-lg">
      <!-- <a href="javascript:void(0)" class="asidebar" (click)="toggleSideMenu()"><span class="fa fa-bars"></span></a> -->
      <a class="navbar-brand" href="#">
        <div class="logo-wrap">
          <img class="logo" src="../../../assets/images/logo.png" alt="">
          <h1>{{title}}</h1>
        </div>
      </a>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" (click)="logout()"><span class="fa fa-sign-out-alt"></span></a>
        </li>
      </ul>            
    </nav>
  </div>
</div>